#terminal {
  font-family: Ubuntu Mono, Moncao, monospace;
  font-size: 18px;
  position: absolute;
}
body {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

.reverse-video {
  background-color: #fff;
  color: #000;
}